* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.secao-1 {
    display: flex;
    align-items: center;

    width: 100%;
    height: 570px;
    background-color: rgb(66, 89, 76);
}

.conteudo-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conteudo-1-textos {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.conteudo-1-textos h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.conteudo-1-textos p {
    color: rgb(192, 192, 192);
    font-size: 18px;
}

.conteudo-1-botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    justify-content: center;
}

.shop-now {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;

    background-color: rgb(255, 199, 14);
    color: black;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}

.shop-now:hover {
    background-color: rgb(239, 173, 8);
    transition: 0.3s;
}

.explore {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid rgb(159, 159, 159);

    background-color: rgb(66, 89, 76);
    color: white;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}

.explore:hover {
    border: 2px solid white;
    transition: 0.3s;
}

.secao-2 {
    width: 100%;
    
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 243, 242);
}

.btn {
    width: 200px;
    height: 50px;
    background-color: black;
}

.form-control {
    height: 50px;
}

#message {
    height: 140px;
}

.footer-icon, .footer-text:hover{
    color: #000000;
    font-size: 1.2rem;
    transition: color 0.3s;
}
  
.footer-icon:hover, .footer-text:hover {
    color: #008000;
}

@media only screen and (max-width: 900px) {
    .btn {
        width: 150px;
    }
}